body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
}
.gender{
    margin-top: 10px;
}
.age{
    text-align: center;
}
label {
    margin-top: 10px;
}

input, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4d35ea98;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #4d35ea98;
}

#result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 600px) {
    body {
        padding: 0 20px;
    }

    .container {
        padding: 15px;
    }

    input, button {
        padding: 8px;
    }
}
